
header{
    background: #262626;
}

.navbar{
    min-height: 70px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    color: white
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

a{
    text-decoration: none;
    color: white
    

}

.navBranding{
    font-size: 2rem;
}